
.app {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #dadbd3;
}

.app__body {
    display: flex;
    background-color: #ededed;
    /* margin-top: -20px; */
    height: 95vh;
    width: 83vw;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.15);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(182, 182, 182); 
    border-radius: 10px;
}